{
  "data-root": "{{ docker_data_dir }}",
  "registry-mirrors": [
      "http://hub-mirror.c.163.com",
      "https://docker.mirrors.ustc.edu.cn",
      "https://registry.docker-cn.com",
      "https://registry-1.docker.io",
      "https://production.cloudflare.docker.com",
      "https://gupqwwvu.mirror.aliyuncs.com"
  ],
  "insecure-registries": [
      "example.com:5000"
  ],
  "live-restore": true,
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m",
    "max-file": "10"
  }
}
