127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ vip }} {{ api_vip_hosts }}
{% for host in groups['k8s'] %}
{{ hostvars[host].ip }} {{ hostvars[host].inventory_hostname }}
{% endfor %} 
